

h1 {
    height: 100px;
    text-align: center;
    border-bottom: solid 3px hsla(9, 78%, 55%, 1);
}

h5, h2 {
    text-align: center;
}

.container {

    background-color: hsla(60, 20%, 99%, 0.9);
    border: solid 5px #28a745;
    margin-top: 50px;
}

body{
    background-color: rgb(252, 252, 252);
    background-image: url("../TT Images/wood.jpg");
    background-size: cover;
    font-family: 'Arima Madurai', cursive;
 }



.inputGroup {
    padding-top:50px;
    margin-bottom: 50px;
}

h3.new-table {
    font-family: 'Henny Penny', cursive !important;
    margin-bottom: 20px;
}

h4 {
    color: hsla(9, 78%, 55%, 1);
}

h4:hover{
    color: hsla(0, 50%, 49%, 1);
    font-size: 25px;
}

#borderSection {
    border-bottom: solid 3px hsla(9, 78%, 55%, 1);
}

.ingredBtn, .mealBtn, .urlBtn, .btn-close {
    background-color: hsla(9, 78%, 55%, 1) !important;
    border: none;
}

.btn-save {
    border-color: #28a745;
    background-color: #28a745;
    border: none;
}

.btn-save:hover {
    background-color: #28a745 !important;
}
.btn:hover{
    background-color: hsla(0, 50%, 49%, 1);
    font-size: 17px;
}

a {
    color: #28a745;
}

a:hover {
    color: hsla(0, 50%, 49%, 1);
}

.your-chefs {
    border-color: solid 2px #28a745;
}

.new-recipe-instructions {
    margin: 20px;
    text-align: center;
}

.recipe-instructions {
    border-bottom: solid 3px hsla(9, 78%, 55%, 1);
}

.add-recipe {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.full-width {
    width: 100%;
    margin-top: 10px;
}

